@font-face {
  font-family: 'Gistesy';
  src: url('fonts/Gistesy.ttf') format('truetype');
}

.pc {
  font-family: 'Gistesy', sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.wimg{
  margin-top: -85px;
}
.cari {
  height: 780px;
}

.navbar-nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pandc .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; 
}

.pandc .carousel-caption h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pandc .carousel-caption .countdown {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

.pandc .carousel-item {
  position: relative;
}

.pandc .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.pandc .carousel-caption {
  z-index: 2; 
}

.nav-link {
  color: white;
  font-size: 20px;
  font-family: monospace;
}
.loading-screen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fffaf1;
  color: #000;
  font-weight: bold;
}

.left-half {
  flex: 1;
  background-image: url('logo-pc.png');
  background-repeat: no-repeat;
  background-size: 60%; 
  background-position: center;
}
.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.right-half p {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.loading-message {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.center-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  position: absolute;
  right: 20px;
  text-align: right;
  font-size: 2rem;
  margin-left: 20px;
}

.loading-message {
  font-size: 1.5rem;
}

.casthead {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.cast-row {
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.cast-row img {
  width: 25%;
  height: 35%;
  border-radius: 10%;
  margin: -3px 30px 30px 20px;
}

.one {
  float: left;
}

.two {
  float: right;
  margin-left: 30px;
}

.gallery-section {
  padding: 50px 0; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 80%;
}

.gallery-header {
  text-align: center;
  color: white; 
  font-size: 2.5rem; 
  margin-bottom: 30px;
}

.gallery-section .carousel-item img {
  width: 300px;
  height: 400px;
}

.gallery-section .carousel-inner {
  display: flex;
}

.gallery-section .carousel-item::after {
  background: none;
}
.about1 a{
  text-decoration: none;
  cursor: pointer;
}
.about1 a:hover{
  font-weight: bold;
}
.wedding{
  display: flex;
  justify-content: center;
}
.wedding img{
  width: 220px;
  height: 300px;
}
.me img{
  width: 170px;
}
@media only screen and (max-width: 600px) {
  .loading-screen {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fffaf1;
    color: #000;
    font-weight: bold;
  }

  /* .left-half {
    width: 100%;
    height: 30%; 
    background-image: url('logo-phone.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
  } */
  .left-half {
    background-image: url('logo-phone.png'); 
    width: 100%;
    height: 80%; 
    margin-top: 50px;
   }
  .right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    text-align: center;
  }

  .right-half p {
    font-size: 0.8rem; 
    margin-bottom: 10px;
  }

  .loading-message {
    font-size: 0.6rem; 
  }
  .text-container {
    width: 100%;
    bottom: 25px;
    right: 50%;
    font-size: 12px;
    transform: translateX(50%);
    margin-right: 0;
    margin-bottom: 20px;
  }
  .loading-message{
    font-size:12px;
  }
  .cari {
    height: 250px;
  }

  .cast-row img {
    width: 200px;
    height: 85%;
    border-radius: 10%;
    margin: -3px 30px 30px 20px;
  }

  .gallery-section .carousel-item img {
    width: 200px;
    height: 300px;
  }

  .pandc .carousel-caption h1 {
    font-size: 1.5rem; /* Adjust font size for small screens */
  }

  .pandc .carousel-caption .countdown {
    font-size: 10px; /* Adjust font size for small screens */
  }

  .pandc .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial; /* Ensure the caption is centered */
    padding: 10px; /* Add padding for small screens */
  }
  .content{
    text-align:center;
  }
  .wedding img{
    width: 170px;
    height: 250px;
    
  }
  .me img{
    width: 120px;
  }
  .wimg{
    margin-top: -35px;
  }
  .himg{
    margin-top: 35px
  }

}
